@import 'import/mixin';
@import 'super_sprite';
@import 'fonts/font_fontawesome';
@import 'base64';
.clearfix {
  *zoom: 1;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}
.clear {
  clear: both;
}

.snd-title {
  font-size: 36px;
}
.snd-main {
  width: 100%;

  @extend .clearfix;
  .box-title {
    font-size: 30px;

    margin: 0 0 30px;
    button {
      margin-left: 50px;
    }
  }
  button {
    cursor: pointer;

    border: 0;
    border-radius: 50%;
    background-color: transparent;
    .fa {
      font-size: 30px;

      color: #000;
    }
    &:hover {
      .fa {
        color: orange;
      }
    }
  }
}
.snd-list-blocks {
  float: left;

  box-sizing: border-box;
  width: 60%;
  padding-right: 10px;
  table {
    width: 100%;
    th {
      font-size: 18px;
      font-weight: bold;

      border-bottom: 3px solid black;
    }
    th,
    td {
      padding: 5px;

      text-align: center;
      &:nth-child(1) {
        width: 100px;

        text-align: left;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 40px;
      }
    }
  }
}

.snd-form-container {
  float: right;

  box-sizing: border-box;
  width: 40%;
  padding-left: 10px;
  form {
    width: 98%;
    margin: 0 auto;

    @extend .clearfix;
    label,
    textarea,
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 5px;

      border-radius: 8px;
      &[type=radio] {
        width: 5px;
        height: 15px;
        padding: 0;

        border-radius: 50%;
      }
    }
    .full-input {
      float: left;

      width: 100%;
    }
    .half-input {
      float: left;

      width: 50%;
    }
    .full-input,
    .half-input {
      font-size: 20px;

      margin: 0 0 10px;
    }
    .form-config {
      float: left;

      width: 100%;
      padding: 5px 0;

      @extend .clearfix;
      .snd-image {
        padding: 2px;

        background-color: red;
      }
      &.horizontal-right,
      &.horizontal-left {
        .snd-image {
          width: 30%;
          min-height: 150px;
        }
        input {
          margin-bottom: 10px;
        }
        input,
        textarea {
          width: 65%;
        }
        textarea {
          height: 120px;
        }
      }
      &.horizontal-left {
        .snd-image {
          float: left;

          margin-right: 2%;
        }
        input,
        textarea {
          float: left;
        }
      }
      &.horizontal-right {
        .snd-image {
          float: right;

          margin-left: 2%;
        }
        input,
        textarea {
          float: right;
        }
      }
      &.vertical-top {
        .snd-image {
          float: left;

          width: 100%;
          height: 150px;
          min-height: 150px;
          margin: 0 0 10px;

          text-align: center;
          img {
            min-width: 200px;
          }
        }
        textarea {
          height: 120px;
        }
      }
      &.vertical-bottom {
        position: relative;

        height: 330px;
        .snd-image {
          position: absolute;
          top: 170px;

          float: none;

          width: 100%;
          height: 150px;
          margin: 0 0 10px;

          text-align: center;
          img {
            min-width: 200px;
            max-height: 150px;
          }
        }
        input,
        textarea {
          position: absolute;

          float: none;
        }
        input {
          top: 0;
        }
        textarea {
          top: 40px;

          height: 120px;
        }
      }
    }
  }
}
